#application-dev.yml
spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop #재이용
    #url: jdbc:h2:~/jpashop
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
      dialect: H2Dialect
    properties:
      hibernate:
        show_sql: true
        format_sql: true
logging.level:
  org.hibernate.SQL: debug
 # org.hibernate.type: trace